@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'Roboto', sans-serif;
}


.app-layout {
  display: flex;
}


.main-content {
  flex: 1;
  overflow-y: auto;
  /* max-width: 1400px ; */

  height: 100vh;
  padding: 0 1.5rem;

}

@media (max-width: 768px) {

  .main-content{
    padding: 0;
  }
}